@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/************HEADER************/

header{
    display: flex;
    flex-direction: row;
    background-color: var(--color-3);
    justify-content: space-between;
    padding: 28px 37px 14px 0;
    align-items: center;

}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px 47px 25px 78px;
    background-color: var(--color-1);
    border-radius: 48px;
    gap: 15px;
    margin-left: -48px;
}

.logo h2{
    font-size: 48px;
    font-family: "RobotoCondensed-Regular";
    color: var(--color-2);
    margin-right: -30px;
    position: relative;
}

.logo img{
    width: 46px;
    height: 46px;
    margin-right: 30px;
    position: relative;
    right: -20px;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 52%;
}

.links a{
    text-decoration: none;
    color: var(--color-1);
    font-family: "RobotoCondensed-Bold";
    font-size: 24px;

}

.theme__modes{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.theme__modes img{
    width: 35px;
    height: 35px;
}

/************MAIN************/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-3);
}

#inicio{
    display: flex;
    flex-direction: row;
    margin: 63px 100px;
    align-items: center;
    justify-content: space-between;
}
.main__title{
    display: flex;
    flex-direction: column;
    width: 57%;
    color: var(--color-1);
    gap: 26px;
}

.main__title img{
    width: 100%;
}

.main__title h2{
    font-size: 57px;
    width: 100%;
    font-family: "RobotoCondensed-Regular";
}

.main__title p{
    font-size: 26px;
    font-family: "RobotoCondensed-Regular";
    font-weight: 100;
}

.buying{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

.comprar{
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 4px 28px;
    border-radius: 25px;
    align-items: center;
    gap: 4px;
    background-color: var(--color-1);
    margin-left: 70px;

}

.comprar img{
    width: 36px;
    height: 36px;
}

.comprar b{
    font-size: 40px;
    font-family:  "RobotoCondensed-Bold";
    color: var(--color-2);
}

.main__image{
    width: 100%;
    height: 100%;
    transform: rotate(13.36deg) translateY(-12%);
}

.social__media{
    display: flex;
    flex-direction: column;
    margin-top: 400px;
}

.social__media img{
    width: 100%;
    max-width: 62px;
    height: 62px;
}

#como__jugar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
}

.description{
    display: flex;
    flex-direction: column;
    color: var(--color-1);
    width: 55%;
    align-items: center;
    gap: 41px;
}

.description h2{
    font-size: 64px;
    font-family: "RobotoCondensed-Bold";
}

.description p{
    font-size: 36px;
    font-family: "RobotoCondensed-Regular";
    text-align: center;

}

.steps{
    display: flex;
    flex-direction: column;
    padding: 0 170px;
    gap: 83px;
    align-items: center;
    margin-top: 60px;
}

.steps h3{
    font-size: 64px;
    font-family: " RobotoCondensed-Bold";
    color: var(--color-2);
    background-color: var(--color-1);
    border-radius: 50%;
    padding: 12px 35px;
}

.steps p{
    font-size: 28px;
    color: var(--color-1);
    font-family: "RobotoCondensed-Regular";
}
.step_1 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.step_1 img{
    width: 100%;
    max-width: 162px;
    
}

.step_2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.step_2 img{
    width: 100%;
    max-width: 141px;
}

.step_3 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.step_3 img{
    width: 100%;
    max-width: 162px;
}

.step_4 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.step_4 img{
    width: 100%;
    max-width: 150px;
}

.step_5 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.step_5 img{
    width: 100%;
    max-width: 162px;
}

#apoyanos{
    display: flex;
    flex-direction: row;
    margin: 212px 160px 0;
    gap: 37px;
    align-items: center;
    justify-content: center;
}

.text__support{
    display: flex;
    flex-direction: column;
    gap: 83px;
    width: 63%;
    align-items: flex-start;
    color: var(--color-1);
}

.text__support h2{
    font-size: 72px;
    font-family: "RobotoCondensed-Bold";
}

.text__support p{
    font-size: 36px;
    font-family: "RobotoCondensed-Regular";
}

.images__support{
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: center;
}

.images__support img{
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 450px;
}

.images__support a{
    text-decoration: none;
    background-color: var(--color-1);
    width: fit-content;
    padding: 10px 43px;
    color: var(--color-2);
    border-radius: 30px;
    font-size: 36px;
    font-family: "RobotoCondensed-Bold";
}

#nosotros{
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin: 170px 140px;
    align-items: center;
    justify-content: center;
}

.text__aboutus{
    display: flex;
    flex-direction: column;
    gap: 69px;
    align-items: flex-start;
    color: var(--color-1);
    width: 70%;
}

.text__aboutus h2{
    font-size: 72px;
    font-family: "RobotoCondensed-Bold";
}

.text__aboutus p{
    font-size: 36px;
    font-family: "RobotoCondensed-Regular";
    line-height: 40px;
    color: var(--color-1);
}

.bottom_text_aboutus{
    font-size: 34px;
    font-family: "RobotoCondensed-Regular";
    color: var(--color-1);
    line-height: 40px;
}

.images__aboutus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.images__blinds{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.images__blinds img{
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 250px;
}

.images__blinds img:nth-child(1){
    transform: translateX(40px);
}

.images__blinds img:nth-child(2){
    transform: translateX(-80px);
}
.logo__aboutus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo__aboutus img{
    width: 100%;
    max-width: 82px;
}

.logo__aboutus h3{
    font-size: 96px;
    font-family: "robotoCondensed-Regular";
    color: var(--color-1);
}